.some-component {
  border: 2px solid brown;
  margin: 10px 0;
}
.div-list {
  display: inline-block;
  border: 1px solid coral;
  min-width: 350px;
}
.div-list p {
  margin: 0 0 10px 0;
  font-weight: bold;
  color: bisque;
}
.div-list li {
  padding: 5px 10px;
}
.div-list button {
  padding: 5px;
  font-size: 14px;
  margin: 0 0 15px 0;
}